
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage.cshtml";
}


@model MyBlog.UI.Areas.Admin.Models.VM.AddArticleVM
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/Admin/Home/Index"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/Admin/Article/List">Article List</a></li>
        <li class="active">Update Article</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Update Article</h3>
                </div>
                <form action="/Admin/Article/Update" method="post" role="form" enctype="multipart/form-data">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="Header">Header</label>
                            <input type="text" name="Header" value="@Model.Articles.Header" class="form-control" placeholder="Header">
                        </div>
                        <div class="form-group">
                            <label for="SubTitle">SubTitle</label>
                            <input type="text" name="SubTitle" value="@Model.Articles.SubTitle" class="form-control" placeholder="SubTitle">
                        </div>
                        <div class="form-group">
                            <label for="Content">Content</label>
                            <input type="text" name="Content" value="@Model.Articles.Content" class="form-control" placeholder="User Name">
                        </div>
                        <div class="form-group">
                            <label for="PublishDate">PublishDate</label>
                            <input type="date" name="PublishDate" value="@Model.Articles.PublishDate"  class="form-control" placeholder="PublishDate">
                        </div>                        
                        <div class="form-group">
                            <label for="CategoryID">Category</label>
                            <select name="CategoryID"  class="form-control">
                                @foreach (var item in Model.Categories)
                                {
                                    <option value="@item.ID">@item.CategoryName</option>
                                }
                            </select>
                            <div class="form-group">
                                <label for="AppUserID">AppUser</label>
                                <select name="AppUserID"  class="form-control">
                                    @foreach (var item in Model.AppUsers)
                                    {
                                        <option value="@item.ID">@item.FirstName @item.LastName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <input type="text" style="visibility:hidden" name="ID" value="@Model.Articles.ID" />
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

